<?xml version='1.0' encoding='utf-8'?>
<widget id="com.makevoid.xdaiwallet" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>xDAI Wallet</name>
    <description>
        xDAI stable crypto wallet
    </description>
    <author email="makevoid@gmail.com" href="http://makevoid.com">
        Francesco 'makevoid' Canessa
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="http://dai.mkv.run:3000/*" />
    <allow-navigation href="http://dai.mkv.run:3000/" />
    <platform name="android">
        <allow-intent href="market:*" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^8.0.0" />
    <engine name="browser" spec="^6.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
