/ <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
%meta{ content: "telephone=no", name: "format-detection" }/
%meta{ content: "no", name: "msapplication-tap-highlight" }/
%meta{ content: "initial-scale=1, width=device-width, viewport-fit=cover", name: "viewport" }/
-# %meta{ content: "yes",  name: "mobile-web-app-capable" }/
-# icons - https://ionicons.com/ - https://github.com/ionic-team/ionicons
%style{ scoped: true }
  :plain
    #{INJ_FONT_CSS}
%link{ href: "css/vendor/ionic-icons.css", rel: "stylesheet" }/
%link{ href: "css/vendor/onsen.css", rel: "stylesheet" }/
%link{ href: "css/vendor/onsen-comp.css", rel: "stylesheet" }/
%link{ href: "css/vendor/onsen-theme.css", rel: "stylesheet" }/
%link{ href: "css/index.css", rel: "stylesheet", type: "text/css" }/
%title <3itcoin LN wallet
