:ruby
  require_relative 'constants'

!!!
%html
  %head
    / <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
    %meta{ content: "telephone=no", name: "format-detection" }/
    %meta{ content: "no", name: "msapplication-tap-highlight" }/
    %meta{ content: "initial-scale=1, width=device-width, viewport-fit=cover", name: "viewport" }/
    -# %meta{ content: "yes",  name: "mobile-web-app-capable"}/
    -# icons - https://ionicons.com/ - https://github.com/ionic-team/ionicons
    %style{ scoped: true }
      :plain
        #{INJ_FONT_CSS}
    %link{ href: "css/vendor/ionic-icons.css", rel: "stylesheet" }/
    %link{ href: "css/vendor/onsen.css", rel: "stylesheet" }/
    %link{ href: "css/vendor/onsen-comp.css", rel: "stylesheet" }/
    %link{ href: "css/vendor/onsen-theme.css", rel: "stylesheet" }/
    %script{ src: "js/vendor/onsen.js" }
    %link{ href: "css/index.css", rel: "stylesheet", type: "text/css" }/
    %title <3itcoin LN wallet
  %body
    .app
      %ons-splitter
        %ons-splitter-side#menu{ collapse: "",  side: "left",  swipeable: true,  width: "220px"}
          %ons-page
            %ons-list
              %ons-list-item{ onclick: "fn.load('receive.html')",  tappable: ""}
                Home
              %ons-list-item{ onclick: "fn.load('settings.html')",  tappable: ""}
                Settings
              %ons-list-item{ onclick: "fn.load('about.html')",  tappable: ""}
                About
        %ons-splitter-content#content{ page: "receive.html" }

      %ons-tabbar#main-tabbar{ position: "bottom" }

        %ons-tab.receive{ class: "active", active: true, badge: "7",  icon: "ion-md-arrow-down", label: "Receive", page: "receive.html" }

        %ons-tab.send{ icon: "ion-md-arrow-up", label: "Send", page: "send.html" }

        %ons-tab.transactions{ icon: "ion-md-list", label: "Transactions", page: "transactions.html" }

      -# page templates:

    %template{ id: "receive.html" }
      %ons-page#Receive
        %ons-toolbar
          .center Receive
          .right
            %ons-toolbar-button
              %script
                :plain
                  const d = document
                  d.querySelector(".refresh-btn").addEventListener("click", (): {
                    window.location = '/#1'
                  })
              %a.refresh-btn{ href: "#" }
                %ons-icon{ icon: "ion-md-settings" }


          .s50
          .centered



            %ons-list
              %ons-list-header.centered.nopad Address
            -# %p.centered Address

            .qr
              %img{ src: "assets/img/qr_sample.png" }

            .s20

            %ons-list.w-inner.centered
              %ons-list-item.input-items
                .right
                  %a{ href: "#" }
                    %ons-icon.list-item__icon{ icon: "ion-md-copy"}
                %label.centered
                  %ons-input#address-input.nomargin.w-full.centered.text-grey{ readonly: true, value: "3N3RXbpGHn6bfvcE2nEYbvGHVPorVWgkeQ" }

            .s20

            %ons-list
              %ons-list-header.centered.nopad Balance
              %ons-list-header.centered.nopad 1023 bits
              %ons-list-header.centered.nopad 11.40 USD


            -# %ons-button
            -#   %i.ion-md-copy


          -# %ons-button{ modifier: "large"} large

      %template{ id: "send.html" }
        %ons-page#Send
          %p.centered
            test

          .centered

            %ons-button
              %i.ion-md-qr-scanner
              \&nbsp;
              Scan QR

      %template{ id: "transactions.html" }
        %ons-page#Transactions
          %p.centered
            test

      %template{ id: "recover.html" }
        %ons-page#Recover
          %p.centered

          %div{ style: "text-align: center;"}
            - 1.upto(12) do |id|
              %p
                %ons-input.word{ data: { id: "word-#{id}", idx: id } , modifier: "underbar", placeholder: "word #{id}" }

            %p
              %ons-button Recover

      %template{ id: "tab4.html" }
        %ons-page#temp
          %p.centered
            -# Send
            -# or "connect to send" (lesser oprtion)

            -# connecting to server
            %p.event.listening Connecting to Device
            %p.event.received Device is Ready

            -# connecting to NFC
            %p.event.listening Connecting to Device
            %p.event.received Device is Ready

      /
        <h1><3itcoin wallet</h1>
        <div id="deviceready" class="blink">
        <p class="event listening">Connecting to Device</p>
        <p class="event received">Device is Ready</p>
        </div>

      -# -------------------

      -# ---
      %template{ id: "home.html"}
        %ons-page
          %ons-toolbar
            .left
              %ons-toolbar-button{ onclick: "fn.open()"}
                %ons-icon{ icon: "md-menu"}
            .center
              Main
          %p{ style: "text-align: center; opacity: 0.6; padding-top: 20px;"}
            Swipe right to open the menu!
      %template{ id: "settings.html"}
        %ons-page
          %ons-toolbar
            .left
              %ons-toolbar-button{ onclick: "fn.open()"}
                %ons-icon{ icon: "md-menu"}
            .center
              Settings
      %template{ id: "about.html"}
        %ons-page
          %ons-toolbar
            .left
              %ons-toolbar-button{ onclick: "fn.open()"}
                %ons-icon{ icon: "md-menu"}
            .center
              About

    %script{ src: "cordova.js",  type: "text/javascript" }
    %script{ src: "node_modules/hyperhtml/min.js",  type: "text/javascript" }
    %script{ src: "js/index.js", type: "text/javascript" }
