%ons-toolbar
  .center Receive
  .right
    %ons-toolbar-button
      / TODO: bind click evt
      %a.refresh-btn
        %ons-icon{ icon: "ion-md-settings" }

.s50
.receive-screen.centered

  %ons-list
    %ons-list-header.centered.nopad Address
  -# %p.centered Address

  .qr
    %img.rel{ src: "assets/img/qr_sample.png" }

  .s30

  %ons-list.w-inner.centered
    %ons-list-item.input-items
      .right
        %a{ href: "#" }
          %ons-icon.list-item__icon{ icon: "ion-md-copy"}
      %label.centered
        -# .receive-screen .receive-address-input
        %ons-input.receive-address-input.nomargin.w-full.centered.text-grey{ readonly: true, value: "..." }

  .s60

  %ons-list.balances
    / Balance
    %ons-list-header.centered.nopad
      BALANCE
    :ruby
      Conf = {}
      def Conf.currency
        "xdai"
        "USD"
        # TODO: cleanup and add dai amount
        "<span class='xp'>USD</span><br>(<span class='dai'>...</span> DAI)"
        "<span class='xp'>USD</span>"
        # currency-conversion done via cryptocompare (DAI/USD)
        # value could be 0 if dai authorities collude
      end
    %ons-list-header.centered.nopad.balance
      -# selector: .balances > .balance > .bal
      %span.bal ....
      #{Conf.currency}

    .centered
      %a.refresh-balance-btn
        %ons-icon{ icon: "ion-md-refresh" }

%script
  // TODO if page == receive
  // console.log("receive page loaded")
