%ons-toolbar
  .center Send
  .right
    %ons-toolbar-button
      %a.refresh-btn{ onclick: "fn.refreshPage()" }
        %ons-icon{ icon: "ion-md-settings" }

.centered
  .s30

  %ons-button
    %i.ion-md-qr-scanner
    \&nbsp;
    Scan QR
  .s10
  %ons-button
    %i.ion-md-clipboard
    \&nbsp;
    Paste

  .s20
  %ons-list.send-form{ modifier: "inset" }
    %ons-list-item
      .s10
      %p
        %ons-input.recipient-address{ float: "",  modifier: "underbar",  placeholder: "Recipient",  type: "text" }
    %ons-list-header.t-center
    %ons-list-item
      .s30
      %p
        %ons-input.send-amount{ float: "",  modifier: "underbar",  placeholder: "Amount (USD weis)",  type: "text" }
    %ons-list-item
      .s10
      %p.w-full.t-center
        -# .send-form .send-button
        %ons-button.send-button.centered.padded{ modifier: "large" } Send
        -# unsure to add the .fw-bold or not to the button (minimalistic/cool-ui vs usability consideration)

-# %ons-fab{ position: "bottom right" }
-#   %ons-icon{ icon: "ion-md-send" }
