%ons-toolbar
  .center Send
  .right
    %ons-toolbar-button
      %a.refresh-btn{ onclick: "fn.refreshPage()" }
        %ons-icon{ icon: "ion-md-settings" }

.centered
  .s30

  %ons-button
    %i.ion-md-qr-scanner
    \&nbsp;
    Scan QR
  .s10
  %ons-button
    %i.ion-md-clipboard
    \&nbsp;
    Paste

  .s20
  %ons-list{ modifier: "inset" }
    %ons-list-item
      .s10
      %p
        %ons-input{ float: "",  modifier: "underbar",  placeholder: "Recipient",  type: "text" }
    %ons-list-header.t-center
    %ons-list-item
      .s30
      %p
        %ons-input{ float: "",  modifier: "underbar",  placeholder: "Amount (bits)",  type: "text" }
    %ons-list-item
      .s10
      %p.w-full.t-center
        %ons-button.centered.padded{ modifier: "large", onclick: "fn.walletSend()" } Send
        -# unsure to add the .fw-bold or not to the button (minimalistic/cool-ui vs usability consideration)

-# %ons-fab{ position: "bottom right" }
-#   %ons-icon{ icon: "ion-md-send" }
