%ons-toolbar
  .center Settings
  .right
    %ons-toolbar-button
      %a.refresh-btn{ onclick: "fn.refreshPage()" }
        %ons-icon.icon-main-right.icon-settings{ icon: "ion-md-settings" }

.centered

  .s30

  %ons-button
    %i.ion-md-qr-scanner
    \&nbsp;
    Reload
