%template{ id: "receive.html" }
  %ons-page#Receive
    %ons-toolbar
      .center Receive
      .right
        %ons-toolbar-button
          %script
            :plain
              const d = document
              d.querySelector(".refresh-btn").addEventListener("click", (): {
                window.location = '/#1'
              })
          %a.refresh-btn{ href: "#" }
            %ons-icon{ icon: "ion-md-settings" }

      .s50
      .centered

        %ons-list
          %ons-list-header.centered.nopad Address
        -# %p.centered Address

        .qr
          %img{ src: "assets/img/qr_sample.png" }

        .s20

        %ons-list.w-inner.centered
          %ons-list-item.input-items
            .right
              %a{ href: "#" }
                %ons-icon.list-item__icon{ icon: "ion-md-copy"}
            %label.centered
              %ons-input#address-input.nomargin.w-full.centered.text-grey{ readonly: true, value: "3N3RXbpGHn6bfvcE2nEYbvGHVPorVWgkeQ" }

        .s20

        %ons-list
          %ons-list-header.centered.nopad Balance
          %ons-list-header.centered.nopad 1023 bits
          %ons-list-header.centered.nopad 11.40 USD


        -# %ons-button
        -#   %i.ion-md-copy


      -# %ons-button{ modifier: "large"} large

%template{ id: "send.html" }
  %ons-page#Send
    %p.centered
      test

    .centered

      %ons-button
        %i.ion-md-qr-scanner
        \&nbsp;
        Scan QR

%template{ id: "transactions.html" }
  %ons-page#Transactions
    %p.centered
      test

%template{ id: "recover.html" }
  %ons-page#Recover
    %p.centered

    %div{ style: "text-align: center;"}
      - 1.upto(12) do |id|
        %p
          %ons-input.word{ data: { id: "word-#{id}", idx: id } , modifier: "underbar", placeholder: "word #{id}" }

      %p
        %ons-button Recover

%template{ id: "tab4.html" }
  %ons-page#temp
    %p.centered
      -# Send
      -# or "connect to send" (lesser oprtion)

      -# connecting to server
      %p.event.listening Connecting to Device
      %p.event.received Device is Ready

      -# connecting to NFC
      %p.event.listening Connecting to Device
      %p.event.received Device is Ready


%template{ id: "home.html"}
  %ons-page
    %ons-toolbar
      .left
        %ons-toolbar-button{ onclick: "fn.open()"}
          %ons-icon{ icon: "md-menu"}
      .center
        Main
    %p{ style: "text-align: center; opacity: 0.6; padding-top: 20px;"}
      Swipe right to open the menu!
%template{ id: "settings.html"}
  %ons-page
    %ons-toolbar
      .left
        %ons-toolbar-button{ onclick: "fn.open()"}
          %ons-icon{ icon: "md-menu"}
      .center
        Settings
%template{ id: "about.html"}
  %ons-page
    %ons-toolbar
      .left
        %ons-toolbar-button{ onclick: "fn.open()"}
          %ons-icon{ icon: "md-menu"}
      .center
        About
