%ons-toolbar
  .center Transactions
  .right
    %ons-toolbar-button
      %a.refresh-btn{ onclick: "fn.refreshPage()" }
        %ons-icon{ icon: "ion-md-settings" }

.centered

  %ons-list.transactions.tx-list
    %ons-list-header Today
    %ons-list-item
      .left
        %ons-icon.list-item__icon{ icon: "ion-md-arrow-down" }
      .center
        Receiving 10 USDs (0 conf.) from '0xadd4344....b31'
        %span.tx tx: 0xa1f2b1...

    .s3
    %ons-list-header Yesterday
    %ons-list-item
      .left
        %ons-icon.list-item__icon{ icon: "ion-md-arrow-up" }
      .center
        Sent 3.123 USDs to '0xadd43442....a23'
        %span.tx tx: 0xb23dc2...

    .s3
    %ons-list-header 26/06/19
    %ons-list-item
      .left
        %ons-icon.list-item__icon{ icon: "ion-md-arrow-down" }
      .center
        Received 26.2 USD weis from '0xadd43443....a21'
        %span.tx tx: 0x45fe31...
